/* Responsive Design */
@media (max-width: 768px) {
    /* #main-section-1 {
        
    } */

    #main-text {
        height: 50vh;
        width: 100%;
        margin: 100px 0 0 0;

        /* padding: 20px; */
    }
    #main-text h1{
        font-size: 26px;
    }
    #main-text p{
        font-size: 14px;
    }

    #main-form {
        width: 80%;
        padding: 20px;
    }
    .main-p {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%; 
        height: auto; 
        font-size: 1rem;
    }
}