
/* Header Styling */
#header {
    margin-top: 0;
    background-color: #ffffff;
    color: #000000;
    /* padding: 2px 0; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    /* opacity: 0.9;  */
    box-sizing: border-box; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw; /* Centered container */
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 50px 0 50px; 
}
/* .firm-section {

} */

/* Logo Section */

/* .logo-firm-name{
    
} */
.logo-section {
    /* width: 20vw; */
    height: 80px;
    margin-left: 0vw;
    display: flex;
    align-items: center;
    gap: 5px;
    

}

.logo {
    width: 100%;
    height: 80px; 
    object-fit: cover;
}

.firm-name {
    font-size: 1.0rem;
    font-weight: bold;
    color: #000000; 
    margin-left: 0vw;
    margin: 0;
    padding: 0;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    color: #006680; 
    
    

}
.firm-name h3{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 23px 23px 26px rgba(0, 0, 0, 0.9); 
    
}
    .firm-name a {
        text-decoration: none;  
        color: inherit;          
        display: inline-block;    
        font: inherit;            
        line-height: inherit;   
         
    }
    .firm-name a:hover,
    .firm-name a:focus {
        text-decoration: none;   
        color: inherit; 
        color: #73c5ff; 
    }
    .hide {
        display: none;
    }

/* Navigation Bar */
.nav-bar {
    height: 50px;
    line-height: 50px;
}
.nav-bar .nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    
    /* text-transform: uppercase; */
}

.nav-bar .nav-items li {
    display: inline;
}

.nav-bar .nav-items a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-bar .nav-items a:hover {
    color: #73c5ff; /* Highlight color on hover */
}

/* Call-to-Action Button */
.cta-button-header {
    background-color: #006680; 
    color: #ffffff;

    margin-right: 0vw;
    width: 20vw;
    height: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;    
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.cta-button-header:hover {
    background-color: #73c5ff; 
    transform: scale(0.90); /* Slight zoom effect */
}

.cta-button {
    background-color: #006680; 
    color: #ffffff;

    margin-right: 0vw;
    width: 20vw;
    height: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;    
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #73c5ff; 
    transform: scale(0.90); /* Slight zoom effect */
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Hide the dropdown toggle by default */
.dropdown-toggle {
    display: none;
}
.dropdown-toggle-box {
    display: none;
}