
/* Responsive Design */
@media (max-width: 768px) {
    .main-section-3-box-container {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center; /* Center boxes */
    }

    .main-section-3-box {
        max-width: 90%; /* Full-width for smaller screens */
    }

    .main-section-3-title {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .gallery-text-media{
        /* position: absolute; */
        z-index: 99;
        display: block;
    }
    .gallery-text{
        /* position: absolute; */
        z-index: 99;
        display: none;
    }
    .gallery {
        margin: 0 0 0 0;
        display: flex; 
        flex-direction: column; 
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        text-align: center; 
        height: 100vh;
        width: 100%;
        overflow: hidden;

    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>< */

    .gallery-text-media2{
        /* position: absolute; */
        z-index: 99;
        display: block;
    }
    .gallery-text2{
        /* position: absolute; */
        z-index: 99;
        display: none;
    }
    .gallery2 {
        margin: 0 0 0 0;
        display: flex; 
        flex-direction: column; 
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        text-align: center; 
        height: 100vh;
        width: 100%;
        overflow: hidden;

    }
}